<input type="hidden" id="_model" name="_model" value="Belanja">
<label for="nama">Nama Tempat</label>
<input data-clear-btn="true" type="text" name="tempat[nama]" class="validate" required="required">
<label for="alamat" class="active">Alamat</label>
<input data-clear-btn="true" type="text" class="validate" name="tempat[alamat]" required="required">
<label for="jenis">Jenis Barang</label>
<input id="belanja-jenis" data-clear-btn="true" type="text" class="validate selectize" data-role='none' value="" name="jenis" required="required">
<label for="keterangan">Keterangan</label>
<textarea required="required" id="keterangan" name="tempat[keterangan]"></textarea>
<label for="fasilitas">Foto Tempat</label>
<button type="button" id="btn-foto" data-position="left" data-inline=true class="btn-foto clr-btn-blue" data-type="camera">
<i class="zmdi zmdi-camera"></i> Camera
</button>
<button type="button" id="btn-gallery" data-position='right' data-inline=true class="btn-foto clr-btn-green" data-type="photolibrary">
<i class="zmdi zmdi-image"></i> Gallery
</button>
<div class="image-panel row">
</div>