<input type="hidden" id="_model" name="_model" value="Wisata">
<label for="nama">Nama Tempat</label>
<input data-clear-btn="true" type="text" name="tempat[nama]" class="validate" required="required">
<label for="alamat" class="active">Alamat</label>
<input data-clear-btn="true" type="text" class="validate" name="tempat[alamat]" required="required">
<label for="jeniswisata_id" class="active">Jenis Wisata</label>
<select class="validate selectize" data-native-menu="true" data-role=none name="jeniswisata_id" required="required">
	<option value="" disabled="" selected="">Pilih jenis wisata</option>
	<option value="1">Wisata Alam</option>
	<option value="2">Wisata Religi</option>
	<option value="3">Wisata Budaya &amp; Sejarah</option>
	<option value="4">Wisata Buatan</option>
</select>
<label for="nama">Pengelola</label>
<input data-clear-btn="true" type="text" name="pengelola" class="validate" required="required">
<label for="telepon">Telepon</label>
<input data-clear-btn="true" type="number" class="validate" name="telepon" value="0" required="required">
<label for="waktu_buka">Waktu Buka</label>
<input data-clear-btn="true" type="time" class="validate" name="waktu_buka" value="08:00" required="required">
<label for="waktu_tutup">Waktu Tutup</label>
<input data-clear-btn="true" type="time" class="validate" name="waktu_tutup" value="17:00" required="required">
<label for="fasilitas">Fasilitas</label>
<input data-clear-btn="true" type="text" class="validate selectize" name="fasilitas" required="required">
<label for="is_tiket">Tiket</label>
<select name="is_tiket" id="is_tiket" data-role="flipswitch">
	<option value="0">Tidak</option>
	<option value="1">Ya</option>
</select>
<div class="tiket-panel form-tiket">
	<div class="row">
		<div class="col-xs-4">
			<div class="box">
				<label for="nama">Nama Tiket</label>
				<input id="nama-tiket" data-clear-btn="false" type="text" name="tiket" class="validate ui-input-has-clear">
			</div>
		</div>
		<div class="col-xs-4">
			<div class="box">
				<label for="nama">Harga</label>
				<input id="harga-tiket" data-clear-btn="false" type="number" name="tiket" class="validate ui-input-has-clear">
			</div>
		</div>
		<div class="col-xs-4">
			<div class="box">
				<label for="nama">Hari</label>
				<input id="hari-tiket" data-clear-btn="false" type="text" name="tiket" class="validate ui-input-has-clear">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-offset-8 col-xs-4">
			<div class="box">
				<button type="button" class="ui-btn ui-mini clr-btn-cyan add-tiket">add</button>
			</div>
		</div>
	</div>
</div>
<!-- <label for="tiket-panel">Daftar Tiket</label> -->
<div class="tiket-panel daftar-tiket">
	<ul data-role="listview">
		<center>Tidak Ada Tiket</center>
	</ul>
</div>
<label for="keterangan">Keterangan</label>
<textarea required="required" id="keterangan" name="tempat[keterangan]"></textarea>
<label for="fasilitas">Foto Tempat</label>
<button type="button" id="btn-foto" data-position="left" data-inline=true class="btn-foto clr-btn-blue" data-type="camera">
<i class="zmdi zmdi-camera"></i> Camera
</button>
<button type="button" id="btn-gallery" data-position='right' data-inline=true class="btn-foto clr-btn-green" data-type="photolibrary">
<i class="zmdi zmdi-image"></i> Gallery
</button>
<div class="image-panel row">
</div>