/**
 *
 * CSS Map
 *
 */
.btn-favorite{
  z-index:1;
}
.ui-input-text.ui-error:after {
      background-color: #E80000;
}
.error-card,.success-card{
  color:#FFF;
  display:none;
}

#peta article{
  padding: 0;
    position : absolute !important;
    top : 40px !important;
    right : 0;
    bottom : 40px !important;
    left : 0 !important;
    padding-top: 1em;
}
.map-container{
  height: 100%;
  width: 100%;
  position: absolute;
}

.map-canvas,.map-container #wisata-map, .map-container #tempat-map,.map-container #form-map{
  height:100% !important;
  width: 100% !important;
  position: fixed !important;
}
/**
 *
 * CSS Loading
 *
 */

.loader-panel {
position: absolute;
top: 0;
left: 0;
right: 0;
height: 100%;
z-index: 1002;
display: none;
background: #FFF;
}
.loader-panel.show{
    display:block;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1009;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
  
  z-index: 1001;
}
#loader-logo {
  display: block;
  position: absolute;
  left: 48%;
  top: 46%;
  background: url(../images/user-bg.jpg) no-repeat center center;  
  z-index: 1001;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    
    -ms-transform: rotate(0deg);
    /* IE 9 */
    
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    
    -ms-transform: rotate(360deg);
    /* IE 9 */
    
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    
    -ms-transform: rotate(0deg);
    /* IE 9 */
    
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    
    -ms-transform: rotate(360deg);
    /* IE 9 */
    
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #FFF;
  z-index: 1000;
  -webkit-transform: translateX(0);
  /* Chrome, Opera 15+, Safari 3.1+ */
  
  -ms-transform: translateX(0);
  /* IE 9 */
  
  transform: translateX(0);
  /* Firefox 16+, IE 10+, Opera */
}
#loader-wrapper .loader-section.section-left {
  left: 0;
}
#loader-wrapper .loader-section.section-right {
  right: 0;
}
/* Loaded */

.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  
  -ms-transform: translateX(-100%);
  /* IE 9 */
  
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */
  
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  
  -ms-transform: translateX(100%);
  /* IE 9 */
  
  transform: translateX(100%);
  /* Firefox 16+, IE 10+, Opera */
  
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  
  -ms-transform: translateY(-100%);
  /* IE 9 */
  
  transform: translateY(-100%);
  /* Firefox 16+, IE 10+, Opera */
  
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}
/* JavaScript Turned Off */

.no-js #loader-wrapper {
  display: none;
}
.progress{
    background-color: rgba(255, 64, 129, 0.22);
}







#list-wisata.ui-listview li a img, #list-tempat.ui-listview li a img{
  width: 100px;
  height: 100px;
  top: 10px;
}

.nd2Tabs .nd2Tabs-active:after {
  background-color: #FFF;
}


    .swiper-container {
        width: 100%;
        height: 300px;
            margin-bottom: 20px;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #000;
        
    }
    .swiper-slide img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: absolute;
      left: 50%;
      top: 50%;
    }
    .info{
         position: absolute;
        height: 50%;
        width: 100%;
        padding: 0;
        left: 0;
    }

    #detailwisata .ui-content,#detailtempat .ui-content{
      padding : 0;
    }
/*     .wisata-map{
      position: absolute;
      height: 100%;
      width:100%;
    } */


    .rating-star{
      text-align: center !important;
      /* color: #FFB016 !important; */
    }
    .rating-star h2{
      color: #4CAF50;
      margin: 0 auto;
    }
    .info .ui-bar{
      margin : 10px auto;
    }

    .btn-my-location{
      bottom: 75px;
      right: 20px;
    }
    .btn-direction{
      right:25px;
    }

    #tab-review .ui-listview, .sudah-rating .ui-listview{
      margin: 1em auto;
    }
    #tab-review p, .sudah-rating p{
      white-space: normal !important;
    }

    .form-rating p, .form-rating #rateYo{
      margin : 10px auto;
      text-align: center;
    }
    .form-rating, .form-rating #form-rating{
      display:none;
    }
    #rateYo2{
          margin: 0 auto;
    }
    #hasil-rating > i{
      display:none;
    }
    #hasil-rating > h2,#hasil-rating > #rateYo2{
      display:block;
    }
    #hasil-rating.proses-rating > i{
        display:block;
    }
    #hasil-rating.proses-rating > h2,#hasil-rating.proses-rating > #rateYo2{
        display:none;
    }


    #daftar-wisata header{
      z-index: 1;
    }

    .proses-user-rating{
      text-align:center;
      display:none;
    }
    .proses-user-rating p, .proses-reviews p{
      margin:0;
    }
  
    .proses-reviews{
      text-align:center;
    }

    .right {
      float : right;
      margin-left: 10px;
    }
    .hidden{
      display:none;
    }
     .ui-listview .ui-li-aside{
      right : 1em !important;
    }
    .ui-header .ui-title{
      text-transform: capitalize;
    }
    .ui-header{
      /* z-index : 1; */
    }

    #list-info-tempat li strong,#list-info-tempat li p{
      text-transform: capitalize;
    }

    .btn-text {
      width: 2.6em  !important;
      height: 2.6em !important;    
      top: 0;
      line-height: 2.6em !important;
      -webkit-box-shadow: none  !important;
      -moz-box-shadow: none  !important;
      box-shadow: none  !important;
      border-radius: none  !important;
    }

    .image-panel{
      /* text-align:center; */
    }
    .image-panel img{
      margin: 10px;
      margin-right: 15px;
    }
    .image-panel .image-item{
      width: 165px;
      max-width: none;
    }
    
    .image-panel .image-item .btn-hapus-foto{
      position: absolute;
      /* border-radius: 100%; */
      margin-left: 140px;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      padding: 0;
      font-size: 19px;
      text-transform: lowercase;
    }


    .ui-btn-transparent{
      border : none;
      background : transparent;      
      outline: none;
    }
 
 .tiket-panel{
  margin: 10px 0;
  /* border-top: 0.1px #cccccc solid; */
  border-bottom: 0.1px #cccccc solid;
  padding: 10px 0; 
  display: none;
}
 .tiket-panel ul.ui-listview li{
  padding: 0 1em;
  padding-top: 0.5em;
 }
 .tiket-panel ul.ui-listview li button{
  color: red !important;
      padding: 0;
    right: 1.2em;
 }
   
 .form-tiket .ui-input-text{ 
    position: relative;
 }
 .btn-favorite{
    line-height: 0em;
    padding: 0.4em .6em;
 }