<div class="swiper-container">
    <div class="swiper-wrapper">   
    </div><!--====  End of swiper-wrapper  ====-->                            
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-white"></div>
    <!-- Navigation -->
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
</div> <!---swiper-container -->   
<div id=info-tempat>
    <h5 class="ui-bar ui-bar-a ">Informasi Umum</h5>
    <div class="ui-body"  id="info-tempat">
        <ul data-role="listview" id="list-info-tempat">
            <li>
                <i class="zmdi zmdi-label zmdi-hc-fw zmdi-hc-3x pull-left"></i>
                <p>Nama</p>
                <strong class="value-nama"></strong>
            </li>
            <li class="alamat">
                <i class="zmdi zmdi-turning-sign zmdi-hc-fw zmdi-hc-3x pull-left"></i>
                <p>Alamat</p>
                <strong class="value-alamat"></strong>
            </li>
            <li>
                <i class="zmdi zmdi-phone zmdi-hc-fw zmdi-hc-3x pull-left"></i>
                <p>Telepon</p>
                <strong class="value-telepon"></strong>
            </li>
            <li>
                <i class="zmdi zmdi-money-box zmdi-hc-fw zmdi-hc-3x pull-left"></i>
                <p>Range Harga</p>
                <strong class="value-harga_min"></strong> - <strong class="value-harga_max"></strong>
            </li>
            <li>
                <i class="zmdi zmdi-alarm zmdi-hc-fw zmdi-hc-3x pull-left"></i>
                <p>Waktu Buka</p>
                <strong class="value-waktu_buka"></strong> - 
                <strong class="value-waktu_tutup"></strong>
            </li>
            <li>
                <i class="zmdi zmdi-cutlery zmdi-hc-fw zmdi-hc-3x pull-left"></i>
                <p>Menu Utama</p>
                <strong class="value-menu"></strong>
            </li>
        </ul>
    </div>
</div>
<div id="keterangan">
    <h5 class="ui-bar ui-bar-a">About
         <b class="value-nama">Curug Muncar</b>
    </h5>
    <div class="ui-body value-keterangan">
    </div>
</div>