<div class="swiper-container">
    <div class="swiper-wrapper">   
    </div><!--====  End of swiper-wrapper  ====-->                            
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-white"></div>
    <!-- Navigation -->
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
</div> <!---swiper-container -->

<div class="proses-user-rating">
    <i class="zmdi zmdi-rotate-right zmdi-hc-spin zmdi-hc-2x"></i> 
    <p>loading...</p>
</div>

<div class="form-rating">
    <p>Beri rating tempat ini</p>                            
    <div id="rateYo"></div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">                                  
            <div class="box">                                        
                <form action="" method="POST" accept-charset="utf-8" id="form-rating" data-ajax=false>
                    <input type="hidden" name="_method" value="POST">                                  
                    <input type="hidden" name="rating" value="0">
                    <input type="hidden" name="wisata_id" value="">
                    <input type="hidden" name="user_id" value="">
                    <input type="hidden" name="id" value="">
                    <label for="judul">Judul</label>                                            
                    <input type="text" name="judul" value="" placeholder="" data-clear-btn="true" required  maxlength="30">
                    <label for="review">Review</label>
                    <textarea name="review" id="review" required maxlength="255"></textarea>
                    <button type="submit" class="right ui-mini clr-btn-blue review-submit  ui-btn ui-btn-inline ">Simpan</button>
                    <button type="button" data-id="" data-inline="true" class="right  ui-btn ui-btn-inline clr-btn-red hidden ui-mini review-hapus">Hapus</button>
                    <button type="button" class="right ui-mini ui-btn ui-btn-inline review-cancel">Cancel</button>
                </form>  
            </div>
        </div>
    </div>
</div> <!--====  End of form-Rating  ====-->          

<div class="sudah-rating">
    <ul data-role="listview">
        <li>
            
        </li>
    </ul>
</div><!--====  End of sudah rating  ====-->
<div id="informasi-umum">
    <h5 class="ui-bar ui-bar-a ">Informasi Umum</h5>
    <div class="ui-body">
            <ul data-role="listview" id="list-info-wisata">
                <li data-role="list-divider" class="rating-star" id="current-rating">
                    <p>Rating Saat ini</p>
                    <div id="hasil-rating" class="proses-rating">                 
                        <i class="zmdi zmdi-rotate-right zmdi-hc-spin" id="spinner"></i> 
                        <h2>0</h2>
                        <div id="rateYo2"></div>
                    </div>
                </li>
                <li>
                    <i class="zmdi zmdi-label zmdi-hc-fw zmdi-hc-3x pull-left"></i>
                    <p>Kategori</p>
                    <strong id="value-jeniswisata"></strong>
                </li>
                <li class="alamat">
                    <i class="zmdi zmdi-pin-assistant zmdi-hc-fw zmdi-hc-3x pull-left"></i>
                    <p>Alamat</p>
                    <strong id="value-alamat"></strong>
                </li>
                <li>
                    <i class="zmdi zmdi-accounts-outline zmdi-hc-fw zmdi-hc-3x pull-left"></i>
                    <p>Pengelola</p>
                    <strong id="value-pengelola"></strong>
                </li>
                <li>
                    <i class="zmdi zmdi-phone zmdi-hc-fw zmdi-hc-3x pull-left"></i>
                    <p>Telepon</p>
                    <strong id="value-telepon"></strong>
                </li>
                <li>
                    <i class="zmdi zmdi-alarm zmdi-hc-fw zmdi-hc-3x pull-left"></i>
                    <p>Waktu Operasional</p>
                    <strong id="value-waktu_buka"></strong> - <strong id="value-waktu_tutup"></strong>
                </li>
                <li>
                    <i class="zmdi zmdi-money-box zmdi-hc-fw zmdi-hc-3x pull-left"></i>
                    <p>Tiket</p>
                    <strong id="value-is_tiket"></strong>
                </li>            
            </ul>  
    </div><!--====  End of ui-body  ====-->
</div><!--====  End of Informasi Umum  ====-->                        
<div id="daftar-tiket">
    <h5 class="ui-bar ui-bar-a">Daftar Tiket</h5>
    <div class="ui-body">
        <ul data-role="listview" id="list-tiket">
            <li>
            </li>                          
        </ul>
  </div><!--====  End of ui-body  ====-->                          
</div><!--====  End of daftar-Tiket  ====-->                  
<div id="daftar-fasilitas">
    <h5 class="ui-bar ui-bar-a">Daftar Fasilitas</h5>
    <div class="ui-body">
        <ul data-role="listview" id="list-fasilitas">
            <li>
            </li>                          
        </ul>
  </div><!--====  End of ui-body  ====-->                          
</div><!--====  End of daftar-Fasilitas  ====-->    
<div id="about-tempat">                            
    <h5 class="ui-bar ui-bar-a">About <b id="value-nama">Curug Muncar</b></h5>
    <div class="ui-body" id="value-keterangan">
       tidak ada keterangan
    </div><!--====  End of ui-body  ====-->                        
</div><!--====  End of About ====-->    
