        <section id="daftar-tempat" data-role="page" data-url="page/daftar-tempat.html">
            <header data-role="header">                          
                <a href="#home" data-position="left" data-iconpos="notext" data-direction="reverse"  data-transition="slide" class="clr-btn-white"><i class="zmdi zmdi-undo"></i></i></a>  
                <h1>Daftar Tempat</h1>
            </header><!-- /header -->
            <article role="main" class="ui-content">
                <ul id="list-tempat" data-role="listview" class="ui-listview" data-inset="true">
                    
                </ul>
            </article><!-- /content -->
<!--             <footer data-role="footer" data-position="fixed" data-tap-toggle="false">
                <h1>Footer</h1>
            </footer>/footer -->
        </section><!-- /page list tempat-->