        
        <section id="daftar-wisata" data-role="page">
            <header data-role="header">                          
                <a href="#jenis-wisata" data-position="left" data-iconpos="notext" data-direction="reverse"  data-transition="slide"><i class="zmdi zmdi-undo"></i></a>  
                <h1>Daftar Wisata</h1>
            </header><!-- /header -->
            <article role="main" class="ui-content">
                <ul id="list-wisata" data-role="listview" class="ui-listview" data-inset="true">
                    
                </ul>
            </article><!-- /content -->
            <footer data-role="footer" data-position="fixed" data-tap-toggle="false">
                <h1>Footer</h1>
            </footer><!-- /footer -->
        </section><!-- /page list tempat-->
        