<section id="detailtempat" data-role="page">
    <header data-role="header" data-position="fixed">
        <a href="#daftar-tempat" data-position="left" data-iconpos="notext" data-direction="reverse"  data-transition="slide" class="clr-btn-white">
            <i class="zmdi zmdi-undo"></i></i>
        </a>  
        <h1 class='judul-tempat'>Detail Tempat</h1>
        <ul data-role="nd2tabs" data-swipe="true">
            <li data-tab="info"  data-tab-active="true" class="tab-info">Info</li>
            <li data-tab="map" class="tab-map">Map</li>
        </ul>
    </header><!-- /header -->
    <article role="main" class="ui-content">
            <div data-role="nd2tab" data-tab="info" class="info">                       
            </div><!--====  End of TAB INFO  ====-->  
            <div data-role="nd2tab" data-tab="map" class="detail-map">                        
                <div id="detail_canvas">                        
                </div>         
            </div><!--====  End of TAB MAP  ====-->
    </article><!-- /content -->
</section><!-- /page -->
