<div class="col-xs-10 col-xs-offset-1">
    <div class="box">
        <form action="" method="POST" accept-charset="utf-8" id="form-rating">
            <input type="hidden" name="_method" value="POST">
            <input type="hidden" name="rating" value="0">
            <input type="hidden" name="wisata_id" value="">
            <input type="hidden" name="user_id" value="">
            <label for="judul">Judul</label>
            <input type="text" name="judul" value="" placeholder="" data-clear-btn="true" required  maxlength="30">
            <label for="review">Review</label>
            <textarea name="review" id="review" required maxlength="120"></textarea>
            <button type="button" data-inline="true" class="">Delete</button>
            <button type="submit" data-inline="true" class="clr-btn-grey">Simpan</button>
        </form>
    </div>
</div>