		<section id="jenis-wisata" data-role="page" class="my-page" data-url="jenis-wisata.html">
            <header data-role="header">                          
                <a href="#home"  data-position="left" data-iconpos="notext" data-direction="reverse"  data-transition="slide"><i class="zmdi zmdi-undo"></i></a>  
                <h1>Jenis Wisata</h1>
            </header><!-- /header -->
            <article role="main" class="ui-content">
                <ul id="list-jenis-wisata" data-role="listview" class="ui-listview" data-inset="true">
                    <li class="clr-bg-cyan"><a class="ui-btn wisata" href="#daftar-wisata" data-jenis="alam" data-transition="slide" >
                        <i class="zmdi zmdi-landscape"></i>
                            <h2>Wisata Alam</h2>
                            <p>Daftar tempat wisata alam Pekalongan</p>
                        </a></li>
                        <li class="clr-bg-cyan"><a class="ui-btn wisata" data-transition="slide" data-jenis="bus" data-ajax=true	href="#daftar-wisata">
                       <i class="zmdi zmdi-city"></i>
                            <h2>Budaya & Sejarah</h2>
                            <p>Daftar tempat wisata tentang Budaya dan Sejarah</p>
                        </a></li>
                        <li class="clr-bg-cyan"><a class="ui-btn wisata" href="#daftar-wisata" data-jenis="buatan" data-transition="slide" >
                            <i class="zmdi zmdi-puzzle-piece"></i>
                            <h2>Wisata Buatan</h2>
                            <p>Daftar tempat wisata buatan</p>
                        </a></li>
                        <li class="clr-bg-cyan"><a class="ui-btn wisata" href="#daftar-wisata" data-jenis="religi" data-transition="slide">
                           <i class="zmdi zmdi-favorite-outline"></i>

                            <h2>Wisata Religi</h2>
                            <p>Daftar tempat wisata keagamaan</p>
                        </a></li>
                </ul>
            </article><!-- /content -->
<!--             <footer data-role="footer" data-position="fixed" data-tap-toggle="false">
                <h1>Footer</h1>
            </footer>/footer -->
        </section><!-- /page -->
        
                
        <section id="daftar-wisata" data-role="page">
            <header data-role="header">                          
                <a href="#jenis-wisata" data-position="left" data-iconpos="notext" data-direction="reverse"  data-transition="slide"><i class="zmdi zmdi-undo"></i></a>  
                <h1>Daftar Wisata</h1>
            </header><!-- /header -->
            <article role="main" class="ui-content">
                <ul id="list-wisata" data-role="listview" class="ui-listview" data-inset="true">
                    
                </ul>
            </article><!-- /content -->
            <footer data-role="footer" data-position="fixed" data-tap-toggle="false">
                <h1>Footer</h1>
            </footer><!-- /footer -->
        </section><!-- /page list tempat-->
        