<section id="signup" data-role="page" data-url="signup.html">
    <header data-role="header">
        <h1>Sign Up</h1>
        </header><!-- /header -->
        <div role="main" class="ui-content">
            <form action="" method="POST" accept-charset="utf-8" id="form-signup">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                    <div class="box">
                        <label for="name">Name:</label>
                        <input type="text" name="name" id="name" data-clear-btn="true"  value="Muhammad Rizal">
                        <label for="email">Email:</label>
                        <input type="hidden" name="_method" value="POST" >
                        <input type="text" name="email" id="email" data-clear-btn="true"  value="rizalmx@live.com">
                        <label for="password">Password:</label>
                        <input type="password" name="password" data-clear-btn="true"  value="qwerty">
                        <label for="password_confirmation">Retype Password :</label>
                        <input type="password" name="password_confirmation" data-clear-btn="true"  value="qwerty">
                    </div>
                    <div class="ui-field-contain" data-inline="true">
                        <button type="submit" class="ui-btn ui-mini clr-btn-cyan" >Daftar</button>
                    </div>
                    <div class="ui-field-contain" data-inline="true">
                        <p class="ui-mini"> Sudah punya akun? </p><a href="#login" class="ui-mini clr-btn- clr-white" data-direction="reverse" data-transition="slide" > Masuk Sekarang</a>
                    </div>
                </div>
            </form>
        </div>
</section><!-- /page -->